.post {
    padding: 3rem 0;

    .container {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .comment-bunner {
        background: #17924f;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        
        margin-bottom: 2rem;
    }

    form {
        margin-bottom: 2rem;
    }
}