.profiles-section {
    padding: 3rem 0;

    .container {
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
    }


    .profiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
}