.posts-section {
    padding: 3rem 0;

    .container {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 8rem;
        border: 1px solid rgb(200, 200, 200);
        padding: 1rem;
        border-radius: .4rem;
        overflow-y: auto;
        font-size: 1rem;
        font-weight: 400;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }

    textarea:focus {
        // outline: none;
        outline: 2px solid gray;
    }

    textarea::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}